<div class="container">
  <h1>Stupid Coaching</h1>
  <p class="p-2 border-start border-4 mt-4"><%= params[:ask] %><br><em>-You</em></p>
  <p class="answer p-2 border-start border-4 mt-4"><strong><%= @answer %></strong><br><em>-Your coach</em></p>
  <p class="link text-primary text-decoration-none mt-4><%= link_to "Ask a new question", "ask-/ask" %></p>
</div>
